{% extends base %}{% load i18n %}
{% block content %}
    <h1>{% trans "About" %}</h1>
    <hr />
{% blocktrans %}
I started this project to get rid off some servers I don't wanna play on.<br>
Why? We all know how simple to fall in rage playing battlefield 3, yet we know<br>
how many reasons exist that may be enough to ban someone or something and forget about<br>
it forever and ever :).<br><br>
Decision had been made to make some sort of service that handles ban and some sort of extension<br>
in browser that help to hide and block banned servers.<br>
With great pleasure I'd want to use IT native within battle-log (shame on it). But DICE still<br>
have no any certain idea when (I think that it would be nowhen and nohow) and how it implement.<br>
I also though that premium players ask hard enough to make DICE do it, but I wasn wrong.<br><br>
I thought about many people with the same problems and did something to solve within userspace.<br>
<br>
So that's it. I'm happy and shinning with possibility to ban servers I don't wanna play on.<br>
{% endblocktrans %}
{% endblock %}
