{% extends base %}{% load i18n %}
{% block content %}
<div class='article'>
    <div class='title'>
        {{ article.title }}
    </div>
    <div class='content'>{{ article.content|safe }}</div>
 </div>

 {% if LANGUAGE_CODE == 'en' %}
 <div class="fb-comments" data-href="http://b3ban.blacklibrary.ru" data-width="470" data-num-posts="15"></div>
 {% endif %}
 {% if LANGUAGE_CODE == 'ru' %}
    <!-- Put this div tag to the place, where the Comments block will be -->
    <div id="vk_comments"></div>
    <script type="text/javascript">
    VK.Widgets.Comments("vk_comments", {limit: 15, width: "496", attach: "*"});
    </script>
 {% endif %}
{% endblock %}
